html,
body,
#container {
  background-color: transparent;
}

#map {
  width: 100vw;
  height: 80vh;
  position: relative;
}

div.carousel {
  position: absolute;
  bottom: 2px;
}

/* Materialize element colors */
.picker__date-display {
  background-color: rgb(66, 66, 66);
}
.picker__day.picker__day--today {
  color: red;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: rgb(66, 66, 66);
}
.picker__close {
  color: rgb(66, 66, 66) !important;
}
.picker__today {
  color: rgb(66, 66, 66) !important;
}
.clockpicker-tick:hover {
  background: rgb(66, 66, 66) !important;
}
.clockpicker-canvas line {
  stroke: rgb(66, 66, 66) !important;
}
.clockpicker-canvas-bearing {
  fill: rgb(66, 66, 66) !important;
}
.clockpicker-canvas-bg {
  fill: rgb(66, 66, 66) !important;
}

ul.dropdown-content.select-dropdown li span {
  color: rgb(66, 66, 66) !important;
}

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: block;
  }
}

.side-nav {
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .side-nav {
    width: 70%;
  }
}

@media only screen and (max-width: 620px) {
  .side-nav {
    width: 80%;
  }
}
